<script>
	import "../app.pcss";
</script>

<svelte:head>
	<title>ar_n_term</title>
</svelte:head>

<main class="bg-bg p-4 font-recursia text-sm leading-5 text-fg">
	<slot></slot>
</main>

<style>
	:global(*) {
		/* outline: 1px solid red; */
	}

	:global(body) {
		@apply bg-bg;
		cursor: default;
	}
</style>
