<script lang="ts">
	import PersistentPrompt from "$lib/components/PersistentPrompt.svelte";
	import MeFetch from "$lib/components/cmds/MeFetch.svelte";
	import Ls from "$lib/components/cmds/Ls.svelte";
	import InvalidCmd from "$lib/components/cmds/InvalidCmd.svelte";
	import Help from "$lib/components/cmds/Help.svelte";

	import { tick } from "svelte";

	const cmds = {
		mefetch: { name: "mefetch", component: MeFetch },
		ls: { name: "ls", component: Ls },
		help: { name: "help", component: Help }
	};

	let prompt_input: HTMLInputElement | undefined = $state();
	let prompt: HTMLDivElement | undefined = $state();

	let history = $state([cmds.mefetch]);
	let cmd_history: string[] = $state([]);
	let current_cmd_history_index = $state(0);

	let has_been_cleared = $state(false);

	function handle_cmd(e: KeyboardEvent) {
		// @ts-ignore
		const input = e.target;
		// @ts-ignore
		const cmd = input.value.trim();
		cmd_history = [cmd, ...cmd_history];

		const min_delay = 0;
		const max_delay = 50;
		const cmd_delay = Math.random() * (max_delay - min_delay);

		setTimeout(async () => {
			if (["clear", "cls"].includes(cmd)) {
				history = [];
				has_been_cleared = true;
			} else if (cmd in cmds) {
				// @ts-ignore
				history.push(cmds[cmd]);
			} else {
				history.push({ name: cmd, component: InvalidCmd });
			}

			// @ts-ignore
			input.value = "";
			current_cmd_history_index = 0;

			await tick();

			prompt?.scrollIntoView();
		}, cmd_delay);
	}

	function get_prev_cmd(e: KeyboardEvent) {
		if (current_cmd_history_index < cmd_history.length) {
			current_cmd_history_index++;

			const cmd_history_entry = cmd_history[current_cmd_history_index - 1];
			// @ts-ignore
			e.target.value = cmd_history_entry;
		}
	}
	function get_next_cmd(e: KeyboardEvent) {
		if (current_cmd_history_index >= 1) {
			current_cmd_history_index--;

			if (current_cmd_history_index > 0) {
				const cmd_history_entry = cmd_history[current_cmd_history_index - 1];
				// @ts-ignore
				e.target.value = cmd_history_entry;
			} else {
				// @ts-ignore
				e.target.value = "";
			}
		}
	}

	$effect(() => {
		document.addEventListener("click", () => {
			prompt_input?.focus();
		});
		prompt_input?.focus();
		prompt?.scrollIntoView();
	});
</script>

{#each history as cmd, i}
	<div>
		{#if i > 0 || has_been_cleared}
			<PersistentPrompt cmd={cmd.name} />
		{/if}
		<svelte:component this={cmd.component} />
	</div>
{/each}

<div bind:this={prompt}>
	<br />
	<p class="text-purple">~</p>
	<div class="flex gap-[1ch]">
		<span class="text-orange">❯</span>
		<input
			bind:this={prompt_input}
			class="flex-1 cursor-default bg-bg outline-none"
			type="text"
			onkeydown={(e) => {
				switch (e.key) {
					case "Enter":
						handle_cmd(e);
						break;

					case "ArrowUp":
						get_prev_cmd(e);
						break;

					case "ArrowDown":
						get_next_cmd(e);
						break;
				}
			}}
			autocorrect="off"
			autocomplete="off"
			autocapitalize="off"
			spellcheck="false"
		/>
	</div>
</div>
