<script lang="ts">
	const now = new Date();
	const birth_year = new Date("2005");
	const age_in_years = now.getFullYear() - birth_year.getFullYear();
</script>

{#snippet logo()}
	<div class="font-bold">
		<span class="font-normal text-red">+=======**===+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;##/////#

		<br />

		<span class="font-normal text-red">+=****===========+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#//////////#

		<br />

		&nbsp;&nbsp;<span class="font-normal text-red">+***============**===+</span>#//////////////#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+==+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+=*+</span
		>#////////#&nbsp;&nbsp;&nbsp;#////#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+===****=+</span
		>&nbsp;&nbsp;#////////#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#///#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+=***+</span
		>#//////////#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#////#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#////////#<span class="font-normal text-red"
			>+***=+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#///#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#/////#&nbsp;&nbsp;<span class="font-normal text-red"
			>+=****=======+</span
		>#////#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#///#<span class="font-normal text-red">+**=+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+*==***+</span>#///#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#///#<span class="font-normal text-red">+*=======+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+=+</span>#////#

		<br />

		&nbsp;&nbsp;&nbsp;&nbsp;#///#<span class="font-normal text-red">+=========**=+</span
		>&nbsp;&nbsp;#//////#

		<br />

		&nbsp;&nbsp;&nbsp;#///#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
			class="font-normal text-red">+===**+</span
		>#//////#<span class="font-normal text-red">+=+</span>

		<br />

		&nbsp;&nbsp;#///#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#///////#<span
			class="font-normal text-red">+***=+</span
		>

		<br />

		&nbsp;#/////#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#////////#&nbsp;&nbsp;<span
			class="font-normal text-red">+=****===+</span
		>

		<br />

		&nbsp;#/////#&nbsp;&nbsp;#////////#<span class="font-normal text-red">+**+</span
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-normal text-red">+==+</span>

		<br />

		#//////////////#&nbsp;&nbsp;<span class="font-normal text-red">+=****==========***+</span>

		<br />

		#//////////#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
			class="font-normal text-red">+=======******=+</span
		>

		<br />

		#/////##&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
			class="font-normal text-red">+=**=======+</span
		>
	</div>
{/snippet}

{#snippet line(title, desc)}
	<p><span class="font-bold text-red">{title}</span>: {desc}</p>
{/snippet}

{#snippet block(col)}
	<span class={col}>███</span>
{/snippet}

<div class="flex flex-wrap gap-[4ch]">
	{@render logo()}
	<div>
		<p class="font-bold">
			<span class="text-red">ar_n</span>@<span class="text-red">earth</span>
		</p>
		<p>----------</p>
		{@render line("OS", "Human 1.0 - Male")}
		{@render line("Host", "Earth (Europe - Sweden)")}
		{@render line("Kernel", "Homo Sapiens 2005-stable")}
		<br />
		{@render line("Uptime", `${age_in_years} years`)}
		{@render line("Packages", "2076 skills (formal training), 333 hobbies (self-taught)")}
		{@render line("PC Specs", "i5 10400F - RX 7700XT - 16GB 3200MHz - 500GB M.2, 2TB HDD - 650W")}
		<br />
		{@render line("Education", "Swedish Elementary and High School")}
		{@render line("Locale", "sv_SE.UTF8")}
		{@render line("Tip", "Enter 'help' to see a list of all available commands")}
		<br />
		{@render line("Disk (/home)", "111.64 GiB / 1006.85 GiB (11%) - ample room for growth")}
		{@render line("Disk (/mnt/work)", "459.75 GiB / 464.88 GiB (99%) highly dedicated")}
		{@render line("Disk (/mnt/hobby)", "1.06 TiB / 1.82 TiB (58%) - well-rounded")}
		<br />

		<p class="flex">
			{@render block("text-black")}
			{@render block("text-red")}
			{@render block("text-orange")}
			{@render block("text-yellow")}
			{@render block("text-green")}
			{@render block("text-blue")}
			{@render block("text-purple")}
			{@render block("text-white")}
		</p>
		<p class="flex">
			{@render block("text-black")}
			{@render block("text-red")}
			{@render block("text-orange")}
			{@render block("text-yellow")}
			{@render block("text-green")}
			{@render block("text-blue")}
			{@render block("text-purple")}
			{@render block("text-white")}
		</p>
	</div>
</div>
